**.gmo
**-noshare.*
Makefile



autom4te.cache/
config.log
config.status
config.sub

costs.pgm
data/trees/s.lsys


po/Makefile
po/Makefile.in
po/POTFILES
po/en@boldquot.gmo
po/en@boldquot.insert-header

po/en@quot.gmo
po/en@quot.insert-header


po/remove-potcdate.sed
po/stamp-po
po/it.gmo
po/it/


/*.pgm
/*.ppm
/*.tga

*.diff
*.patch

src/config.lisp
quick_quicklisp.sh

dote