**.gmo
**-noshare.*
Makefile

aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub

costs.pgm
data/trees/s.lsys


po/Makefile
po/Makefile.in
po/POTFILES
po/en@boldquot.gmo
po/en@boldquot.insert-header

po/en@quot.gmo
po/en@quot.insert-header
po/en@quot.po

po/remove-potcdate.sed
po/it.gmo
po/it/


/*.pgm
/*.ppm
/*.tga

*.diff
*.patch

src/config.lisp
quick_quicklisp.sh

dote