**-noshare.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
costs.pgm
data/trees/s.lsys
dote
install-sh
missing

po/Makefile
po/Makefile.in
po/POTFILES
po/dote.pot
po/en@boldquot.gmo
po/en@boldquot.insert-header
po/en@boldquot.po
po/en@quot.gmo
po/en@quot.insert-header
po/en@quot.po
po/it.gmo
po/it/
po/remove-potcdate.sed

*.pgm
*.ppm
*.tga

src/config.lisp
